<div class="main-content">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="card-title">Add Sanchalak</h4>
                </div>
                <div class="ml-md-auto">
                    <button type="cancel" class="btn btn-danger btn-round design" routerLink='/dashboard'>
                                <i class="fa fa-arrow-left"></i> Back
                            </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form class="form-horizontal" name="sanchalakform" #sanchalakform="ngForm">
                <div class="row">
                    <label class="col-md-2 col-form-label"><h6>First Name</h6></label>
                    <div class="col-md-4">
                        <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
                            <input type="text" class="form-control" id="fname" name="fname" [(ngModel)]="sanchalakModel.fname" placeholder=" Enter First Name " required value="" pattern="^[a-zA-Z]+$" (focus)="focus = true" #fname="ngModel" />
                        </div>
                        <div *ngIf="fname.errors && (fname.dirty || fname.touched)" class="alert alert-danger">
                            <div *ngIf="fname.errors.required">
                                First Name is required !
                            </div>
                            <div [hidden]="!fname.errors('pattern')">
                                Enter Only Characters !
                            </div>
                        </div>
                    </div>
                    <label class="col-md-2 col-form-label"><h6>Last Name</h6></label>
                    <div class="col-md-4">
                        <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
                            <input type="text" class="form-control" id="lname" name="lname" [(ngModel)]="sanchalakModel.lname" placeholder=" Enter Last Name " required value="" pattern="^[a-zA-Z]+$" (focus)="focus = true" #lname="ngModel" />
                        </div>
                        <div *ngIf="lname.errors && (lname.dirty || lname.touched)" class="alert alert-danger">
                            <div *ngIf="lname.errors.required">
                                Last Name is required !
                            </div>
                            <div [hidden]="!lname.errors('pattern')">
                                Enter Only Characters !
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2 col-form-label"><h6>Email</h6></label>
                    <div class="col-md-4">
                        <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
                            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="sanchalakModel.email" placeholder=" Enter Email Address" required value="" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" (focus)="focus = true" #email="ngModel" />
                        </div>
                        <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                            <div *ngIf="email.errors.required">
                                Email Address is required.
                            </div>
                            <div [hidden]="!email.hasError('pattern')">Email format should be
                                <small><b>joe@abc.com</b></small>
                            </div>
                        </div>
                    </div>
                    <label class="col-md-2 col-form-label"><h6>Password</h6></label>
                    <div class="col-md-4">
                        <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
                            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="sanchalakModel.password" placeholder=" Enter Passowrd" required value="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" (focus)="focus = true"
                                #password="ngModel" />
                        </div>
                        <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
                            <div *ngIf="password.errors.required">
                                Password Required
                            </div>
                            <div [hidden]="!password.hasError('pattern')">
                                Password should containe atleast
                                <ul>
                                    <li>
                                        1 Uppercase Letter
                                    </li>
                                    <li>
                                        1 Number
                                    </li>
                                    <li>
                                        8 characters
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </form>
            <div class="card-footer">
                <div class="row">
                    <div class="ml-md-auto" *ngIf="submitButton">
                        <button type="submit" class="btn btn-info btn-round" (click)="saveSanchalakDetail()" [disabled]="!sanchalakform.form.valid">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit
                        </button>
                        <button type="submit" class="btn btn-danger btn-round" routerLink='/dashboard'>
                            <i class="fa fa-times" aria-hidden="true"></i> Cancel
                        </button>
                    </div>
                    <div class="ml-md-auto" *ngIf="updateButton">
                        <button type="submit" class="btn btn-info btn-round" (click)="updateSanchalakDetails()" [disabled]="!sanchalakform.form.valid">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Update
                        </button>
                        <button type="submit" class="btn btn-danger btn-round" routerLink='/dashboard'>
                            <i class="fa fa-times" aria-hidden="true"></i> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="card-title">Sanchalak List</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <th class="text-center">#</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Actions</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of sanchalak | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">
                            <td class="text-center">{{ i+1 }}</td>
                            <td class="text-center">{{ item.fname + ' ' + item.lname}} </td>
                            <td class="text-center">{{ item.email }} </td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm" (click)="updateItem(item)">
                                        <i class="fa fa-edit"></i>
                                    </button> &nbsp; &nbsp; &nbsp;
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm" (click)="removeItem(item.uid)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="ml-md-auto">
                    <pagination-controls (pageChange)="p = $event" maxSize="10" autoHide="true" responsive="true">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>

</div>