<div class="main-content">
    <div class="card" *ngIf="addProduct">
        <div class="card-header">
            <div class="row">
                <div class="col-md-9">
                    <h4 class="card-title">Add Products</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form class="form-horizontal" name="servicesRegForm" #servicesRegForm="ngForm">
                <div class="row ">

                    <label class="col-md-2 col-form-label">Product Name</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input placeholder="Enter name" [(ngModel)]="productsModel.name" id="name" name="name"
                                type="text" class="form-control validate" [ngModelOptions]="{standalone: true}"
                                required="" #name="ngModel">
                        </div>

                    </div>
                    <label class="col-md-2 col-form-label">Category</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="custom-select tm-select-accounts" id="category"
                                [(ngModel)]="productsModel.category" #category="ngModel"
                                [ngModelOptions]="{standalone: true}">
                                <option selected="">Select category</option>
                                <option value="New Arrival">New Arrival</option>
                                <option value="Most Popular">Most Popular</option>
                                <option value="Trending">Trending</option>
                            </select>
                        </div>
                    </div>
                    <label class="col-md-2 col-form-label">Price</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input placeholder="Enter Price" [(ngModel)]="productsModel.price" id="expire_date"
                                name="expire_date" type="number" [ngModelOptions]="{standalone: true}"
                                class="form-control validate hasDatepicker" data-large-mode="true" #price="ngModel">
                        </div>
                    </div>
                    <label class="col-md-2 col-form-label">Vendor's Name</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input placeholder="Enter Vendor's name" [(ngModel)]="productsModel.vendorname" id="name"
                                name="name" type="text" class="form-control validate"
                                [ngModelOptions]="{standalone: true}" required="" #vendorname="ngModel">
                        </div>
                    </div>
                    <label class="col-md-2 col-form-label">Vendor's Contact</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input placeholder="Enter Vendor's contact" [(ngModel)]="productsModel.vendorcontact"
                                id="Phone" name="Phone" type="tel" maxlength="10" pattern="[6789][0-9]{9}"
                                class="form-control validate" required="" [ngModelOptions]="{standalone: true}"
                                #vendorcontact="ngModel">
                        </div>
                        <div *ngIf="vendorcontact.errors && (vendorcontact.dirty || vendorcontact.touched)"
                            class="alert alert-danger">
                            <div *ngIf="vendorcontact.errors.required">
                                Vendor's Number is required
                            </div>
                            <div [hidden]="!vendorcontact.errors('pattern')">
                                Enter Only Valid Numbers.
                            </div>
                        </div>
                    </div>

                    <label class="col-md-2 col-form-label">Quantity</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input placeholder="Enter Quantity" [(ngModel)]="productsModel.quantity" id="stock"
                                name="stock" type="number" [ngModelOptions]="{standalone: true}"
                                class="form-control validate" required="" #quantity="ngModel">
                        </div>
                    </div>

                    <label class="col-md-2 col-form-label">Date of Purchase</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="date" [(ngModel)]="productsModel.purchasedate" class="form-control" value="{{ formdate }}" name="purchasedate" id="purchasedate">
                        </div>
                    </div>

                    <label class="col-md-2 col-form-label">Description</label>
                    <div class="col-md-4">
                        <div class="form-group">

                            <textarea placeholder="Write about Product... " [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="productsModel.descripition" class="form-control validate" rows="7"
                                required="" #descripition="ngModel"></textarea>
                        </div>
                    </div>
                    <label class="col-md-2 col-form-label">Product Image</label>
                    <div class="col-md-3">
                        <p class="card-title">Select Product Image</p>
                        <span style="color: red;">*Image size must be 500X500</span>
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                <img src="./assets/img/image_placeholder.jpg" alt="...">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            <div>
                                <span class="btn btn-rose btn-round btn-file">
                                    <span class="fileinput-new">Select Product image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" id="image" name="image" [(ngModel)]="productsModel.image"
                                        (change)="select($event)" />
                                </span>
                                <a href="javascript:void(0)" class="btn btn-danger btn-round fileinput-exists"
                                    data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <p class="card-title">Select Product Detail Image</p>
                        <span style="color: red;">*Image size must be 500X500</span>
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                <img src="./assets/img/image_placeholder.jpg" alt="...">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            <div>
                                <span class="btn btn-rose btn-round btn-file">
                                    <span class="fileinput-new">Select Detail Image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" id="listimages" name="listimages"
                                        [(ngModel)]="productsModel.listimages" (change)="onSelect($event)" />
                                </span>
                                <a href="javascript:void(0)" (click)="removeOrChangedImage()"
                                    class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i
                                        class="fa fa-times"></i> Remove</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" *ngFor="let i of addingprdtimg;let ind=index">
                        <p class="card-title">Select Product Detail Image</p>
                        <span style="color: red;">*Image size must be 500x500</span>
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">

                            <div class="fileinput-new thumbnail">

                                <img src="./assets/img/image_placeholder.jpg" alt="...">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            <div>
                                <span class="btn btn-rose btn-round btn-file">
                                    <span class="fileinput-new">Select Detail Image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" id="listimages" name="listimages"
                                        [(ngModel)]="productsModel.listimages" value={} (change)="onSelect($event)" />

                                </span>
                                <a class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"
                                    (click)="removeOrChangedImage(id)"><i class="fa fa-times"></i> Remove</a>

                                <i class="fa fa-times-circle-o" aria-hidden="true" (click)="removeImageUploader(ind)"
                                    style="font-size:25px!important;padding-left:9px!important"></i>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-1">
                        <i class="fa fa-plus-circle" aria-hidden="true"
                            style="font-size: 50px !important;margin-top:130%!important;"
                            (click)="addImageUploader()"></i>
                        <!-- <i class="nc-icon nc-simple-add" style="font-size: 50px !important;
                                color: aqua;"></i> -->

                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="ml-md-auto">
                    <button type="submit" class="btn btn-info btn-round" (click)="saveProductsDetail()">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit
                    </button>
                    <button type="submit" class="btn btn-danger btn-round" routerLink='/dashboard'>
                        <i class="fa fa-times" aria-hidden="true"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="showList">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="card-title"> Product List</h4>
                </div>
                <div class="ml-md-auto">

                <button type="Add" class="btn btn-info btn-round" (click)="addcategory()">
                    <i class="fa fa-plus"></i> Add Category
                </button>
                </div>
                <div class="ml-md-auto">
                    <label class="col-form-label" style="margin-top: 5px;font-size: 18px;color: black;">Search
                        By</label>
                </div>
                <div class="col-md-3 ml-md-auto">
                    <div class="form-group" style="margin-top: 8px !important;">
                        <input type="search" id="form1" class="form-control"
                            placeholder="Product Name && Category" [(ngModel)]="search"
                            (ngModelChange)="Search()" aria-label="Search" />
                    </div>
                </div>
            </div>
           
        </div>
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="text-primary">
                        <th class="text-left">
                            Product Image
                        </th>
                        <th class="text-center">
                            Product Name
                        </th>
                        <th class="text-center">
                            Category
                        </th>
                        <th class="text-center">
                            Date of Purchase
                        </th>
                        <th class="text-center">
                            Qty
                        </th>
                        <th class="text-center">
                            Price
                        </th>
                        <th class="text-center">
                            Amount
                        </th>
                        <th class="text-right">Actions</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products | paginate: { itemsPerPage: p, currentPage: p };">


                            <td>
                                <div class="img-container"
                                    style="width: 120px;max-height: 160px;overflow: hidden;display: block;">
                                    <img src="http://localhost:8090{{item.image}}">
                                </div>
                            </td>
                            <td class="text-center">{{ item.name }}
                            </td>
                            <td class="text-center">{{ item.category}} </td>
                            <td class="text-center">{{ item.purchasedate | date }}</td>
                            <td class="text-center">{{ item.quantity }}</td>
                            <td class="text-center">{{ item.price }}</td>
                            <td class="text-center">{{ item.price * item.quantity }}</td>
                            <td class="text-right">
                                <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm">
                                    <i class="fa fa-eye" (click)="onlyViewCustomerDetails(item.id)"></i>
                                </button>
                                &nbsp;
                                <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm">
                                    <i class="fa fa-edit" data-toggle="modal" data-target="#employeeModal"
                                        (click)="viewProDetails(item)"></i>
                                </button>
                                &nbsp;
                                <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm"
                                    (click)="removeProductList(item.id)">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="ml-md-auto">
            
            </div>
        </div>
    </div>
    <div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-notice">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="nc-icon nc-simple-remove"></i>
                    </button>
                    <h5 class="modal-title" id="myModalLabel">View/Edit Products</h5>
                </div>
                <div class="modal-body">
                    <div class="instruction">
                        <form class="form-horizontal" name="employeeRegForm" #employeeRegForm="ngForm">
                            <div class="row">
                                <label class="col-md-2 col-form-label">Product Name</label>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="fname" name="fname"
                                            [(ngModel)]="updateProductModel.name" placeholder=" Enter Product Name " />
                                    </div>
                                </div>
                                <label class="col-md-2 col-form-label">Description</label>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="lname" name="lname"
                                            [(ngModel)]="updateProductModel.descripition"
                                            placeholder=" Enter Description" />
                                    </div>
                                </div>

                                <label class="col-md-2 col-form-label">Category</label>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="contact"
                                            [(ngModel)]="updateProductModel.category" name="contact"
                                            placeholder="Enter Category" />
                                    </div>
                                </div>
                                <label class="col-md-2 col-form-label">Purchase Date</label>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="whatsapp"
                                            [(ngModel)]="updateProductModel.purchasedate" name="whatsapp"
                                            placeholder="Enter Purchase Date" />
                                    </div>
                                </div>
                                <label class="col-md-2 col-form-label">Quantity</label>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <textarea id="address" name="address" rows="3" cols="40"
                                            [(ngModel)]="updateProductModel.quantity"
                                            placeholder="Enter Quantity"> </textarea>
                                    </div>
                                </div>
                                <label class="col-md-2 col-form-label">Price</label>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="city"
                                            [(ngModel)]="updateProductModel.price" name="city"
                                            placeholder="Enter Price" />
                                    </div>
                                </div>
                                <!-- <label class="col-md-2 col-form-label">Pincode</label>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="pincode"
                                            [(ngModel)]="updateProductModel.pincode" name="pincode"
                                            placeholder="Enter Pincode" />
                                    </div>
                                </div> -->
                                <!-- <label class="col-sm-2 col-form-label">Select Gender</label>
                                <div class="col-md-2">
                                    <div class="form-check-radio">
                                        <label class="form-check-label" style="color: black !important">
                                            <input #genm class="form-check-input" name="gender"
                                                [(ngModel)]="updateProductModel.gender" type="radio" value="male"
                                                ngModel />
                                            Male
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </div> -->
                                <!-- <div class="col-md-2">
                                    <div class="form-check-radio">
                                        <label class="form-check-label" style="color: black !important">
                                            <input #genf class="form-check-input" name="gender"
                                                [(ngModel)]="updateProductModel.gender" type="radio" value="female"
                                                ngModel />
                                            Female
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </div> -->
                                <!-- <label class="col-md-2 col-form-label">Select Services</label>
                                <div class="col-md-4">
                                    <div class="btn-group bootstrap-select w-100">
                                        <div style="border: 1px #DDDDDD solid !important">
                                            <angular2-multiselect [ngModelOptions]="{standalone: true}""
                                                [data]="serviceData" [(ngModel)]="selectedServices"
                                                [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                                (onDeSelect)="OnItemDeSelect($event)"
                                                (onSelectAll)="onSelectAll($event)" name="items"
                                                (onDeSelectAll)="onDeSelectAll($event)">
                                            </angular2-multiselect>
                                        </div>
                                    </div>
                                </div> -->
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-info btn-round" data-dismiss="modal"
                        (click)="UpdateProductDetails()">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> Update
                    </button>
                    <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="addc">
        <div class="card-header">
            <div class="row">
                <div class="col-md-9">
                    <h4 class="card-title">Add Category</h4>
                </div>
                <button type="cancel" class="btn btn-danger btn-round" routerLink="/dashboard">
                    <i class="fa fa-arrow-left"></i> Back
                </button>
            </div>
            <hr>
            <div class="card-body">
                <form class="form-horizontal" name="servicesRegForm" #servicesRegForm="ngForm">
                    <div class="row">
                        <label class="col-md-2 col-form-label">Name</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="categoryModel.name" 
                            [ngModelOptions]="{standalone: true}" placeholder="Enter name" #name="ngModel">
                        </div>


                    </div>

                </form>
            </div>
            <div class="card-footer">
                
                    <button type="submit" class="btn btn-info btn-round pull-right" style="margin-bottom:20px ;" (click)="saveCategoryDetail()">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit
                    </button>
            </div>

        </div>
    </div>
    <div class="card-body" *ngIf="showCategoryList">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="text-primary">
                    <th class="text-center">
                        Id
                    </th>
                    <th class="text-center">
                        Name
                    </th>
                    <th class="text-center">
                        Date created
                    </th>
                    
                    <th class="text-right">Actions</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of category | paginate: { itemsPerPage: p, currentPage: p };">
                        
                        <td class="text-center">{{ item.index}}</td>
                        <td class="text-center">{{ item.name }}</td>
                        <td class="text-center">{{ item.createddate|date }}</td>
                        <td class="text-right">
                           
                            <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm">
                                <i class="fa fa-edit" data-toggle="modal" data-target="#CategoryModal"
                                    (click)="viewCategoryDetails(item)"></i>
                            </button>
                            &nbsp;
                            <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm"
                                (click)="removeCategoryList(item.id)">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="CategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-notice">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="nc-icon nc-simple-remove"></i>
                </button>
                <h5 class="modal-title" id="myModalLabel">View/Edit Products</h5>
            </div>
            <div class="modal-body">
                <div class="instruction">
                    <form class="form-horizontal" name="employeeRegForm" #employeeRegForm="ngForm">
                        <div class="row">
                            <label class="col-md-2 col-form-label">Product Name</label>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="fname" name="fname"
                                        [(ngModel)]="updateProductModel.name" placeholder=" Enter Product Name " />
                                </div>
                            </div>
                           
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-info btn-round" data-dismiss="modal"
                    (click)="UpdateProductDetails()">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Update
                </button>
                <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">
                    <i class="fa fa-times" aria-hidden="true"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
</div>