@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
.status {
    margin-top: .75%;
}

.loopforms {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

#myForm {
    font-size: 20px;
    font-weight: 600;
    border: 4px solid rgba(13, 207, 6, 0.501);
    vertical-align: middle;
    line-height: 3.5;
    margin-bottom: 15px;
    border-radius: 8px;
}

#myForm1 {
    font-size: 20px;
    font-weight: 600;
    border: 4px solid #fbc658;
    vertical-align: middle;
    line-height: 3.5;
    margin-bottom: 15px;
    border-radius: 8px;
}

#myForm2 {
    font-size: 20px;
    font-weight: 600;
    border: 4px solid rgba(246, 12, 12, 0.852);
    vertical-align: middle;
    line-height: 3.5;
    border-radius: 8px;
}

#dropdown{
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    opacity: 0.7;
}
.row{
    margin-top: 10px;
}
#birthday{
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    opacity: 0.7;
}
#satsang{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#detailForm{
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    opacity: 0.7;
    margin-top: 10px;
    margin-bottom: 25px;
}
.ml5{
    margin-left: 10px !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.checked {
  color: gold;
}