<div class="main-content">
    <div *ngIf="strpArray.length>0">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <th class="text-left">#</th>
                        <th class="text-center">progress</th>
                        <th class="text-left">Name</th>
                        <th class="text-left">Contact No</th>
                        <th class="text-left">Mandal</th>
                        <th class="text-left">Relation</th>
                        <th class="text-right">Actions</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of strpArray |  paginate: { id:'listing_pagination',itemsPerPage: 5, currentPage: page,totalItems:strpArray.length };let ind=index">
                            <td class="text-left">{{ind+1}}</td>
                            <td class="text-center">
                                <i class="fa fa-circle text-danger" style="font-size: large;" aria-hidden="true" *ngIf="item.status==1"></i>
                                <i class="fa fa-circle text-warning" style="font-size: large;" aria-hidden="true" *ngIf="item.status==2"></i>
                                <i class="fa fa-circle text-sucess" style="font-size: large;" aria-hidden="true" *ngIf="item.status==3"></i>
                            </td>
                            <td class="text-left">{{item.fname}} {{item.mname}} {{item.lname}}</td>
                            <td class="text-left">{{item.contact}}</td>
                            <td class="text-left">{{ item.mandaltype }}-{{item.mandalname}}</td>
                            <td class="text-left">{{item.relation}}</td>
                            <td class="text-right">
                                <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm">
                                    <i class="fa fa-eye" data-toggle="modal" data-target="#customerServicesModal"
                                        (click)="openUsedServiceList(item)"></i>
                                </button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!--Family Member form loop -->
    <div *ngIf="dashboardModelarr.length>0">
        <div *ngFor="let i of dashboardModelarr; let ind=index">
            <div class="card">
                <form class="loopforms">
                    <h5 class="text-center">Member {{ind+1}} </h5>
                    <div class="row">
                        <div class="col col-form-label text-right">
                            <label> <h6>First Name</h6></label>
                        </div>
                        <div class="col-3">
                            <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
                                <input type="text" class="form-control" id="fname" name="fname" [(ngModel)]="i.fname" placeholder=" Enter First Name " required value="" pattern="[A-Za-z]{1,32}" (focus)="focus = true" #fname="ngModel" />
                            </div>
                            <!-- <div *ngIf="fname.errors && (fname.dirty || fname.touched)" class="alert alert-danger">
                                <div *ngIf="fname.errors.required">
                                    First Name is required
                                </div>
                                <div [hidden]="!fname.errors('pattern')">
                                    Numbers and Special Characters not allowed
                                </div>
                            </div> -->
                        </div>
                        <div class="col col-form-label text-right">
                            <label> <h6>Middle Name</h6></label>
                        </div>
                        <div class="col-3">
                            <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
                                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="i.mname" placeholder=" Enter Middle Name " required value="" pattern="[A-Za-z]{1,32}" (focus)="focus = true" #mname{{ind+1}}="ngModel" />
                            </div>
                            <!-- <div *ngIf="mname.errors && (mname.dirty || mname.touched)" class="alert alert-danger">
                                <div *ngIf="mname.errors.required">
                                    Middle Name is required
                                </div>
                                <div [hidden]="!mname.errors('pattern')">
                                    Numbers and Special Characters not allowed
                                </div>
                            </div> -->
                        </div>
                        <div class="col col-form-label text-right">
                            <label> <h6>Last Name</h6></label>
                        </div>
                        <div class="col-3">
                            <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
                                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="i.lname" placeholder=" Enter Last Name " required value="" pattern="[A-Za-z]{1,32}" (focus)="focus = true" #lname="ngModel" />
                            </div>
                            <!-- <div *ngIf="lname.errors && (lname.dirty || lname.touched)" class="alert alert-danger">
                                <div *ngIf="lname.errors.required">
                                    Last Name is required
                                </div>
                                <div [hidden]="!lname.errors('pattern')">
                                    Numbers and Special Characters not allowed
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-form-label text-right">
                            <label> <h6>Contact Number</h6></label>
                        </div>
                        <div class="col-3">
                            <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
                                <input type="text" class="form-control" id="contact" [(ngModel)]="i.contact" name="contact" placeholder="Enter Contact Number" required value="" pattern="^[0-9].{9,9}$" (focus)="focus = true" #contact="ngModel" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="dropdown form-group">
                                <button class="dropdown-toggle btn btn-info btn-round btn-block" type="button" name="dropdownMenuButton2" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     {{ i.mandaltype }} 
                                </button>
                                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton2">
                                    <div class="dropdown-header">Select Mandal Type</div>
                                    <div *ngFor="let j of mandalTypeList">
                                        <a class="dropdown-item" (click)="selectedmandaltype(j.mandaltype,ind)">{{j.mandaltype}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="dropdown form-group">
                                <button class="dropdown-toggle btn btn-info btn-round btn-block" type="button" name="dropdownMenuButton2" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     {{ i.mandalname }} 
                                </button>
                                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton2">
                                    <div class="dropdown-header">Select Mandal </div>
                                    <div *ngFor="let j of mandalList">
                                        <a class="dropdown-item" (click)="selectedmandal(j.id,ind)">{{j.name}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="dropdown form-group">
                                <button class="dropdown-toggle btn btn-info btn-round btn-block" type="button" name="dropdownMenuButton" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     {{ i.relation }} 
                                </button>
                                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                                    <div class="dropdown-header">Select Relation</div>
                                    <div *ngFor="let j of relationList">
                                        <a class="dropdown-item" (click)="selectedrelation(j.id,ind)">{{j.name}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!--Submit Section -->
                    <div class="row">
                        <div class="ml-md-auto">
                            <div class="btn btn-warning" (click)="saveDraft(i)">Save Draft</div>
                            &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Member Information-->





</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <br/>
            <h5 class="modal-title text-center">
                Add Number of Family Members
                <br>
                <small class="text-muted">(Including You)</small>
            </h5>
            <div class="modal-body">
                <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
                    <input type="text" class="form-control" id="family" [(ngModel)]="tot_mem" name="family" value="" pattern="[0-9]{0,10}" (focus)="focus = true" #noofmem="ngModel" />
                </div>
                <div *ngIf="noofmem.errors && noofmem.dirty " class="alert alert-danger">
                    <div [hidden]="!family.errors('pattern')">
                        Enter Valid Numbers
                    </div>
                </div>
            </div>
            <div class="ml-md-auto">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="AddMoreMember()">Save changes</button> &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
    <div>
        <app-profession-information></app-profession-information>
    </div>
</div>